[submodule "docs-hugo/themes/fuji"]
	path = docs-hugo/themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
